# dependencies
/node_modules
/.pnpm-debug.log*

# next.js
/.next/
/out/
next-env.d.ts

# typescript
*.tsbuildinfo

# production
/build

# env files
.env*.local
!.env.example

# vercel
.vercel

# editor
.vscode/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
